<include tpl="header.html" />

<h1>Articles</h1>
<ul>
    <li><a href="./admin/articles/new/">Rédiger un article</a></li>
    <li><a href="./admin/articles/">Gérer les articles</a> ({NB_ARTICLES})</li>
    <li><a href="./admin/commentaires/">Gérer les commentaires</a> ({NB_COMS})</li>
</ul>

<h1>Utilisateurs</h1>
<ul>
    <li><a href="./admin/users/new/">Ajouter un utilisateur</a></li>
    <li><a href="./admin/users/">Gérer les utilisateurs</a> ({NB_USERS})</li>
</ul>

<include tpl="footer.html" />
